.app {
  min-width: 320px;
  text-align: center;
  background-size: cover;
  background-image: url('./assets/bg-images/cold-bg.jpg');
  background-position: bottom;
  transition: 0.4s;
}

.warm-bg{
background-image: url('./assets/bg-images/warm-bg.jpg');
}

.app-bg{
min-height: 100vh;
padding: 25px;
box-sizing: border-box;
background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.75));
}

.search-box{display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 550px;
  margin-bottom: 30px;
}

.search-box .search-bar{
  display: block;
  width: 100%;
  padding: 15px;
  color: #313131;
  font-size: 20px;
  appearance: none;
  border:none;
  outline: none;
  background: none;
  box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.25);
  background-color: rgba(255,255,255,0.55);
  box-sizing: border-box;
  border-radius: 4px;
  transition: 0.4s;
}

.search-box .search-bar:focus{
  box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.25);
  background-color: rgba(255, 255, 255, 0.75);
}

.location-box .location{
  color: #fff;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  text-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
}

.location-box .date{
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
}

.weather-box{
  text-align: center;
}
.weather-box .temp{
  display: inline-block;
  padding: 10px 25px;
  color: #fff;
  font-size: 102px;
  font-weight: 900;
  text-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
  background-color: rgba(255,255,255,0.25);
  border-radius: 16px;
  margin: 30px 0px;
  box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.25);
}

.weather-box .weather{
  color: #fff;
  font-size: 48px;
  font-weight: 600;
  text-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
}
.weather-box .weather-description{
  color: #fff;
  font-size: 20px;
    font-weight: 300;
    font-style: italic;
    text-align: center;
}

.no-weather-placeholder{
 
  color: #fff;
    font-size: 48px;
    font-weight: 600;
    text-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
}